{{ template "header.html" . }}

<article class="category hentry type-{{.Title}} ">

    <header>
        <h2>{{ .Title }} Archive</h2>
    </header>

    <div class="posts">
        {{ range .Pages }}
            <div class="post">
                <span class="date">{{ .Date.Format "02 Jan 2006"  }} &#187; </span>
                <span class="title"><a href="{{ .Url }}">{{ .Title }}</a></span>
            </div>
        {{ else }}
            No pages in this directory.
        {{ end }}
    </div>

</article>

{{ template "footer.html" }}




